<h2><%= @list.name %></h2>
<p><%= "Was created at: #{@list.created_at}" %></p>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @list.movies.each do |movie| %>
    <div class="col">
      <div class="card">
        <%= image_tag(movie.poster_url, id: "img-list") %>
        <div class="card-body">
          <h5><strong><%= movie.title %></strong></h5>
          <p><%= movie.overview %></p>
        </div>
      </div>
    </div>
    <% end %>
</div>

<p><%= link_to "Back to all lists", lists_path %></p>
